
<div class=" grid_3">
 <div class="left_home grid">
     
     <h1>
     Onze specialiteit:
     </h1>
    <ul class="bold">
        <li>
            <strong>Dispersielakken</strong>: mat/glans effect,...
        </li>
        <li>
            <strong>Wire-O spiraalbinding</strong> voor kalenders,  	brochures,...
        </li>
    </ul>
    <p class="title">
    Kan het <strong>milieu</strong> de boom in?<br/>
    <strong>Drukkerij</strong> Lammaing vindt van niet!
    </p>
    <p class="text">
    Niet alleen de prijs-kwaliteit verhouding telt bij ons, ook het <strong>milieu</strong> telt mee.<br/>
    
    </p>
    <div class="title" style="padding-bottom:0px;">
        Het <strong>milieu</strong>: <br/>Wat doet <strong>Grafisch Bedrijf</strong> Lammaing?
    </div>
    <ul>
        <li>
            We gebruiken FSC gekeurd papier
        </li>
        <li>
            Werken met 100% <strong>groene stroom</strong>
        </li>
        <li>
            Doen aan Duurzaam Ondernemen
        </li>
        <li>
            Selectief scheiden van afval
        </li>
        <li>
            Gebruik van <strong>milieuvriendelijke</strong> dispersielak
        </li>
        <li>
            Papiersnippers worden gerecycleerd
        </li>
        <li>
            We verbruiken geen vervuilende ontwikkelaar voor onze drukplaten
        </li>
        <li>
            We gebruiken plantaardige inkten
        </li>
    </ul>
</div>
</div>
<div class="grid_7">
 <div class="right_home grid">
    <div class="home-banner">

        <ul>
            <li class="duurzaam">
               
                    <img src="img/index/duurzaam.png" title="West-Vlaams CHARTER, Duurzaam ondernemen"/>
               
            </li>
            <li class="groenstroom">
               
                <img src="img/index/groene_stroom.png" title="Wij verbruiken 100% groen stroom"/>
                
            </li>
            <li class="wff">
                <img src="img/index/wwf.png" title="WWF onder steunt FSC"/>
            </li>
            <li class="fsc">
                <img src="img/index/fsc.png" title="FSC, the mark of responsible forestry"/>
            </li>
        </ul>

    </div>
  </div>
</div>